<ion-header>
  <ion-toolbar>
    <ion-row>

      <ion-col >
          <ion-icon name="close"></ion-icon>
      </ion-col>
  
  
          <ion-col class="col1">
            โปรไฟล์
          </ion-col>
        
  
        <ion-col class="col2">
            <ion-icon name="checkmark"></ion-icon>
          </ion-col>
  
     </ion-row>
 </ion-toolbar>
 
</ion-header>

<ion-content>

      <ion-item> 

        <ion-row>
          
        <ion-col >
        

      <ion-avatar class="kkk">
        <img  src="https://cdn2.iconfinder.com/data/icons/ui-1/60/05-512.png">
      </ion-avatar>
     
            
</ion-col > 

<ion-icon class="kk" name="build"></ion-icon>

</ion-row>        
</ion-item>


        <ion-item> 
            <ion-item>
              <ion-label floating >สถานะ : &nbsp;</ion-label>
              <ion-input type="text" ></ion-input>
            </ion-item>
            </ion-item>
            
            

         <ion-item> 
             <ion-label>ชื่อ</ion-label>
             <input type="text" value="">
             </ion-item>
            
             

         <ion-item> 
            <ion-label>นามสกุล</ion-label>
            <input type="text" value="">
            </ion-item>
            
            

         <ion-item> 
            <ion-label>ที่อยู่</ion-label>
            <input type="text" value="">
           </ion-item>
         
            

         <ion-item> 
            <ion-label>เลขบัตรประชาชน</ion-label>
            <input type="text" value="">
            </ion-item>
            
            
         <ion-item> 
           <ion-label>ที่อยู่</ion-label>
           <input type="text" value="">
           </ion-item>
           

</ion-content>
