<ion-header>
  <ion-toolbar>
   <ion-item >
       <ion-icon name="close"></ion-icon>
     <ion-title>profile</ion-title>
   </ion-item>
   
 </ion-toolbar>
 
</ion-header>

<ion-content>

      <ion-avatar class="kkk">
        <img  src="https://cdn2.iconfinder.com/data/icons/ui-1/60/05-512.png">
      </ion-avatar>
     
 
   


        <ion-item> 
            <ion-label>Status</ion-label>
            <input type="text" value="{{student.Status}}">
            </ion-item>
            
            

         <ion-item> 
             <ion-label>name</ion-label>
             <input type="text" value="{{student.name}}">
             </ion-item>
            
             

         <ion-item> 
            <ion-label>lastname</ion-label>
            <input type="text" value="{{student.lastname}}">
            </ion-item>
            
            

         <ion-item> 
            <ion-label>address</ion-label>
            <input type="text" value="{{student.address}}">
           </ion-item>
         
            

         <ion-item> 
            <ion-label>IDcard</ion-label>
            <input type="text" value="{{student.IDcard}}">
            </ion-item>
            
            
         <ion-item> 
           <ion-label>number</ion-label>
           <input type="text" value="{{student.number}}">
           </ion-item>
           
<div style="text-align: center">         
<ion-button>
   ตกลง   
</ion-button>
</div>
</ion-content>
