<ion-header>
    <ion-toolbar >
        <ion-row>
            <ion-col >
                <ion-icon name="close"></ion-icon>
            </ion-col>
            <ion-col class= "header1">
                <ion-title>คะแนน</ion-title>
              </ion-col>
              <ion-col class= "header2">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-col>
          </ion-row>
    </ion-toolbar>  
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      ภาษาไทย
    </ion-card-header>
    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
