<ion-header>
    <ion-toolbar >
        <ion-row>
            <ion-col >
                <ion-icon name="close"></ion-icon>
            </ion-col>
            <ion-col class= "header1">
                <ion-title>คะแนน</ion-title>
              </ion-col>
              <ion-col class= "header2">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-col>
          </ion-row>
    </ion-toolbar>  
  </ion-header>

<ion-content>
  <ion-card *ngFor="let item of Score">
    <ion-card-header>
      {{item.name}}
    </ion-card-header>
    <ion-row>
      <ion-col>
        เต็ม<br>100
      </ion-col>
      <ion-col>
        คะแนน<br><ion-input type="number" value=""></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
