<ion-header>
  <ion-toolbar >
    <ion-row>
      <ion-col >
          <ion-icon name="close"></ion-icon>
      </ion-col>
      <ion-col class= "header1">
          <ion-title>ผลงาน</ion-title>
        </ion-col>
        <ion-col class= "header2">
            <ion-icon name="checkmark"></ion-icon>
          </ion-col>
    </ion-row>
    
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of List">
    <ion-row>
      <ion-col class = "col">
        <ion-slides pager = true>
          <ion-slide >
            <img src="{{item.img1}}">
          </ion-slide>
          <ion-slide >
            <img src="{{item.img2}}">
          </ion-slide>
          <ion-slide >
            <img src="{{item.img3}}">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col >
          <ion-card-header>
            {{item.name}}
          </ion-card-header>
          <ion-card-content>
            รายละเอียด.......
          </ion-card-content>
          <ion-footer class = "card-footer">
            {{item.data}}
          </ion-footer>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row class = "footer">
    <ion-col >
        <ion-icon name="images"></ion-icon>
    </ion-col>
    <ion-col >
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-col>
      <ion-col >
          <ion-icon name="sad"></ion-icon>
        </ion-col>
        <ion-col >
            <ion-icon name="logo-flickr"></ion-icon>
          </ion-col>
  </ion-row>
</ion-footer>