<ion-header>
  <ion-toolbar>
    <ion-title>StudentProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
<ion-col size="4" >
 <ion-button>โปรไฟล์</ion-button>
</ion-col>
<ion-col size="4" >
  <ion-button (click)="score()">ผลการเรียน</ion-button>
</ion-col>
<ion-col size="4" >
  <ion-button href="student-evo">พัฒนาการ</ion-button>
</ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="4" >
      <ion-button >ผลงาน </ion-button> 
    </ion-col>
    <ion-col size="4" >
      <ion-button>น้ำหนัก/ส่วนสูง</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
</ion-row>
  <img src="{{data.image}}">
  {{data.name}} {{data.lastname}}

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      Fackbook <ion-fab-button><label></label><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      instagram <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      twitter <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

